<!-- xml -->
<launch> 

  <param name="/use_sim_time" value="true"/>
  
  <rosparam command="load" file="$(find multi_robot_stage)/params/robot_goals.yaml"/>
  <node pkg="collvoid_controller" type="controller.py" name="controller" output="screen"/>

  <!-- ROBOT 1 -->
  <group ns="robot_0">
    <param name="tf_prefix" value="robot_0" />
    <param name="amcl/initial_pose_x" value="3" />
    <param name="amcl/initial_pose_y" value="3" />
    <include file="$(find multi_robot_stage)/launch/move_base.launch" >     
      <arg name="robot_name" value="robot_0" />
    </include>
    <node pkg="collvoid_controller" type="controllerRobots.py" name="controllerRobots" output="screen" />
    

  </group>

  <group ns="robot_1">
    <param name="tf_prefix" value="robot_1" />
    <param name="amcl/initial_pose_x" value="3" />
    <param name="amcl/initial_pose_y" value="1" />
    <include file="$(find multi_robot_stage)/launch/move_base.launch" >     
      <arg name="robot_name" value="robot_1" />
    </include>
    <node pkg="collvoid_controller" type="controllerRobots.py" name="controllerRobots" output="screen" />
  </group>
  
  
  <group ns="robot_2">
    <param name="tf_prefix" value="robot_2" />
    <param name="amcl/initial_pose_x" value="1" />
    <param name="amcl/initial_pose_y" value="3" />
    <include file="$(find multi_robot_stage)/launch/move_base.launch" >     
      <arg name="robot_name" value="robot_2" />      
    </include>    
    <node pkg="collvoid_controller" type="controllerRobots.py" name="controllerRobots" output="screen" />
  </group>
  
  <group ns="robot_3">
    <param name="tf_prefix" value="robot_3" />
    <param name="amcl/initial_pose_x" value="1" />
    <param name="amcl/initial_pose_y" value="1" />
    <include file="$(find multi_robot_stage)/launch/move_base.launch" >     
      <arg name="robot_name" value="robot_3" />
    </include>
    <node pkg="collvoid_controller" type="controllerRobots.py" name="controllerRobots" output="screen" />
  </group> 

</launch>
